body * {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(62, 0, 0)) fixed;
}

.container {
    margin: 0px auto;
    border: 1px black solid;
    max-width: 800px;
}

.interface {
    
    padding: 10px;
    border: 1px black solid;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.description, .answer-container {
    padding: 10px;
    /* border: 1px black solid; */
    width: 100%;
}

