body *{
  box-sizing: border-box;
  outline-color: black;
  outline-width: 3px
  
}

body{
  background-color: #118AA6;
}

div {
  /* border: black 1px solid; */
}

p {
  font-family: 'Gothic A1', sans-serif;
}

h1, h2, h3 {
  font-family: gotham, sans-serif;
}

.app-container{
  width: 100%;
  /* padding: 10px; */
}

button {
  border: #FFBE13 solid 2px;
  background-color: #024555;
  color:#FFB413;
  font-family: gotham, sans-serif;
  transition-duration: 200ms; 
}

button:focus, button:hover{
  border: #FFDB7D 2px solid;
  background-color: #8A4400;
  color: #FFDB7D;
  cursor: pointer;
  box-shadow: 3px 3px 2px rgba(0,0,0,.5);
  transform: translate(-3px, -3px)
}

/* This is all the stuff that applies to the START page */

.start-above-the-fold{
  background-color: #6BC0D4;
  /* height: 100vh; */
  min-height: 680px;
  display:flex;
  flex-flow: column;
  justify-content: center;
}

.logo-container img{
  width: 100%;
  margin: auto;
}

.logo-container{
  width: 90%;
  align-self: center;
  max-width: 600px;
  margin: 20px 0px;
}

.form-container{
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#topic-form{
  display:flex;
  width: 100%;
  justify-content: center;
  height: 65px;
}

#topic-form label{
  width: 65%
}

#topic-form input {
  width: 100%;
  color: #024555;
  padding-left: 10px;
}

#topic-form input::placeholder {
  color: #6BC0D4; 
}

#topic-form *{
  height:100%;
}

#go-button {
  font-size: 42px;
}

.description-container {
  color:#024555;
  padding: 5px 40px;
  width: 90%;
}

.description-container p {
  font-family: gotham, sans-serif;
  font-size: 18px;
}

@keyframes pulsate {
  from {
    font-size: 1em;
    color:#024555;
    letter-spacing: auto;
    line-height: 1em;
  }

  to {
    font-size: 1.1em;
    color:#118AA6;
    letter-spacing: -1.2px;
    line-height: .85em;
  }
}

.pulsing{
  animation-duration: 1000ms;
  animation-direction: alternate;
  animation-name: pulsate;
  animation-iteration-count: infinite;
}

.disclosure{
  font-style: italic;
  /* color: #FFB413; */
  font-size: 12px;
}

.start-extra-info {
  background-color:#118AA6;
}

.start-extra-info img {
  width: 50%;
  margin: auto;
  position: relative;
  top:50px;
}

.start-info-bar {
  display: flex;
  flex-flow: column;
  position: relative;
}

.start-text-box {
  background-color:white;
  font-family: 'Gotich A1', sans-serif;
  font-size: 24px;
  padding: 30px 10px 0px 10px;
  margin: 0px 10px;
}

/* END start screen stuff */

/* Below is everything pertaining to the Perfect TWeet Page */


.top-bar {
  height: 50px;
  background-color: #118AA6;
  display: flex;
  align-content: center;
  justify-content: space-between;

}

.top-bar img{
  max-width:80%;
  height: 95%;
  padding-top: 5px;
  padding-right:10px;
}

.top-bar button {
  width: fit-content;
  font-size: 30px;
  margin:5px;
}

.squished .top-bar {
  display:none; 
}
.scroll-top {
  width:100%;
}

.squished .scroll-top{
  position: fixed;
  z-index: 30;
}

.scroll-top *{
  transition-duration: 200ms;
}

.perfect-tweet-above-fold{
  background-color: #6BC0D4;
  display: flex;
  flex-flow: column;
}

.squished .perfect-tweet-above-fold {
  height : 90px;
  padding: 0px 5px;
}

.perfect-tweet-container{
  padding: 10px 0px;
  margin: 0px 5px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.squished .perfect-tweet-container{
  flex-flow: row;
  padding: 5px 0px;
}

.perfect-tweet-container img {
  width: 100%;
  border: solid 1px #FFBE13
}

.perfect-tweet-container img:hover {
  cursor: pointer;
  box-shadow: 3px 3px 2px rgba(0,0,0,.5);
  transform: translate(-3px, -3px)
}

.squished .perfect-tweet-container img{
  max-width: 30%;
  align-self: flex-start;
  max-height: 100%;
}

.perfect-tweet-text-box {
  background-color: white;
  position: relative;
  border: solid 1px #FFBE13
}

.perfect-tweet-text-box:hover, .perfect-tweet-text-box:focus{
  cursor: pointer;
  box-shadow: 3px 3px 2px rgba(0,0,0,.5);
  transform: translate(-3px, -3px)
}

.perfect-tweet-text-box p{
  color: #024555;
  font-family: gotham;
  padding: 0px 5px;
  font-size: 18px; 
}

.squished .perfect-tweet-text-box p {
  font-size: 14px;
  margin: 0px;
  padding: 5px 5px;
  width: 100%;
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 5em; 
}

.squished .perfect-tweet-text-box p:before{
  content: '...';
  position: absolute;
  color:#118AA6;
  right: 3px;
  bottom: 2px;
  font-size: 20px;
}
.squished .perfect-tweet-text-box p:after {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 1em;
  right: 5px;
  background: white;
  transform: translate(0px, 1em)
}

.tweet-button-container {
  display: flex;
  flex-flow: column;
  margin-top:10px;
}

.squished .tweet-button-container{
  display:none;
}

#tweet-button, #reperfect-button{
  width: 90%;
  align-self: center;
  font-size: 30px;
  padding: 10px 0px;
  /* margin:  0px 30px; */
}

.squish-button-container {
  display: flex;
  justify-content: center;
}

#squish-button {
  background-color: transparent;
  z-index: 0;
  border: none;
  color: #024555;
  position: relative;
  width: 30%;
  max-width: 200px;
  height: 20px;
  box-shadow: none;
  transform: none;
}

#squish-button:hover, #squish-button:focus{
  color: #8A4400;
}

#squish-button:before{
  background-color:#6BC0D4; 
  content:'';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
	z-index: -2;
	transform: perspective(1px) rotateX(-1deg);
  border-radius:0px 0px 5px 5px
}

.squished .squish-button-container{
  
}

/* END above the fold Perfext Tweet */

.info-container {
  background-color: #118AA6;
  margin-top:-30px;
  padding:30px 10px;
  width: 100%;
  margin: auto;
  max-width: 800px;
}

.logo-left {
  width: 60px;
  position: absolute;
  transform: translate(-10px, -30px)
}

.logo-right {
  width: 60px;
  position: relative;
  float:right;
  transform: translate(0px, -30px)
}

/* This is the style for the GIPHY info */

.info-giphy {
  border: solid #FFDB7D 2px;
  padding: 5px;
  margin-bottom: 40px;
}

.squished .info-giphy {
  margin-top: 450px;
}

.giphy-gifs {
  display: flex;
  flex-flow: wrap;
}

.gif-block {
  width: 50%;
  display: flex;
  align-content: center;
  background-color: transparent;
  border:none;
}

.gif-block img{
  align-self: center;
  width: 100%;
  padding: 5px;
}

.selected-gif{
  background: #FFB413;
}

/* END Giphy info section */

/* Wikipedia Info */

.info-wiki{
  background-color: white;
  padding: 1px 10px;
  color: #024555;
  margin-bottom: 50px;
}

.info-wiki h1, .info-wiki p{
  padding:10px 0px;
  margin: 0px;
}

/* END wiki style */

/* Twitter API style */

.info-twitter {
  border: solid #FFDB7D 2px;
  padding: 5px;
  margin-bottom: 40px;
}

.twitter-users {
  padding-top:15px;
}

.twitter-user {
  margin:10px 0px;
  display:flex;
  flex-flow:column;
}

.twitter-user-splash {
  height: 80px;
  display: flex;
  width: 100%;
}

.twitter-user-grid {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: height;
}

.twitter-user-grid div {
  position: relative;
  height: 50%;
  width: 50%;
}

.grid-upper-right {
  background-color: #FFDB7D;
}

.grid-lower-left {
  background-color: white;
}

.grid-lower-right {
  background-color: #024555;
}

.twitter-user img{
  border-radius: 50%;
  height: 200%;
  position: relative;
  left:-100%;
  top:-100%;
}

.twitter-user-info {
  height:100%;
  width: 100%;
}

.twitter-user-name, .twitter-user-followers {
  height: 50%;
  width: 100%;
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 5px;
}

.twitter-user-name {
  background-color: #FFDB7D;
  color: #024555;
}

.twitter-user-followers {
  background-color: #024555;
  color: #FFDB7D;
}
  
.twitter-user-tweet {
  background-color: white;
}

.twitter-user-tweet p {
  margin:0px;
  padding: 10px;
  color: #118AA6;
  font-family: gotham, sans-serif;
}

/* END Twitter section */

/* BEGIN NewsAPI styles */

.info-news {
  background-color: #024555;
  color: #FFDB7D;
  padding: 10px;
}

.info-news a {
  color: #118AA6
}

.info-news h1, .info-news h2 {
  margin:1px;
  overflow: hidden;
}

.info-news h1 {
  margin-bottom: 10px;
}

.all-articles{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.news-article{
  background-color: white;
  color: #024555;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  border: #024555 solid 5px;
}



@media only screen and (min-width: 550px){

  /* STILL NEED TO REDO THE START PAGE */

  .squished .top-bar {
    display: flex;
  }

  .perfect-tweet-container{
    margin: 30px 10px;
    flex-flow: row;
  }

 

  .squished .perfect-tweet-container{
    margin: 5px 0px;
  }
  
  .gif-block{
    width: 25%;
  }

  .twitter-user{
    flex-flow: row;
    max-width: 800px;
  }

  .twitter-user-splash{
    height: 90px;
  }

  .grid-lower-left{
    background-color: #118AA6;
  }
  
  .all-articles{
    flex-flow: row wrap;
  }

  .news-article{
    width: 50%;
  }

  .perfect-tweet-container{
    max-width: 900px;
  }

  .squished .perfect-tweet-above-fold{
    height: 120px;
  }
  
  .perfect-tweet-container img {
    align-self: flex-start;
    width: 30%;
    max-height: 300px;
    max-width: 250px;
  }
  
  .perfect-tweet-text-box {
    top:0px
  }
  .perfect-tweet-text-box p {
    font-size: 16px;
  }

  .squished .tweet-button-container {
    display: inline-block;
    margin:0px;
    padding:0px;
  }

  #tweet-button, #reperfect-button{
    margin:0px; 
    /* position: absolute;  */
    width: fit-content;
    padding:10px;
    height: width;
    font-size: 14px;
    margin: 10px;
  }

  .squished #tweet-button, .squished #reperfect-button {
    margin:0px;
    padding:0px, 5px;
    height: 50%;
    width: 100%;
  }
  
  .squished .info-giphy {
    margin-top: 200px;
  }

}


@media only screen and (min-width: 700px){
  
  .start-above-the-fold{
    flex-flow: row;
  }

  .form-and-description{
    align-self: center;
  }

  .perfect-tweet-container{
    margin: 50px auto;
    padding: 0px 10px;
    align-self: center;
  }

  .perfect-tweet-text-box p{
    font-size: 18px;
  }

  .logo-container{
    padding: 0px 3%;
  }


}
