.tv-container {
    margin: 10px auto;
    max-width: 95%;
    max-height: auto;
    position: relative;
}

.tv-image {
    max-width: 100%;
    max-height: auto;
    z-index: 30;
}

.mantle img {
    max-width: 100%;
    max-height:auto;
    position: relative;
    top: -4vh;
    z-index: 25;
}

.screen {
    position: absolute;
    width: 100%;
    height: 65%;
    padding-top:1vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.screen p {
    margin: 0px 25px;
}

.logo{
    max-width: 80%;
    max-height: 80%;

    /* margin: 0 auto; */
}

.screen {
    color: white;

}

.screen h1 {
    max-width: 90%;
    font-size: 6vw;
    text-align: center;
}

.emphasized {
    color:#e61822;
}

.screen p {
    font-size: 4vw;
}

.result-image{
    margin: 5px;
}

.result-text{
    margin-top: 20px
}

.result-container{
    display: flex;
    width: 90%;
    /* align-items: center; */
}

.result-image img {
    height: 45vw;
    padding-top: 2vw;
}

.result-container h3 {
    font-size: 4vw;
}


@media only screen and (min-width: 500px) {
    .screen h1 {
        max-width: 90%;
        font-size: 2em;
    }

    .screen p {
        font-size: .95em;
    }

    .result-image img {
        height: 100%;
        padding-top: 15px;
    }

    .result-image{
        width: 45%;
    }
    
    .result-container h3 {
        font-size: 1.5em;
    }

}